*, *::before, *::after {
  box-sizing:border-box;
}

body{
  margin: 0;
  background: linear-gradient(to right, red, yellow);
}

.calculator-grid{
  display: grid;
  margin-top: 2rem;
  justify-content: center;
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem );
  grid-template-columns:  repeat(4, 6rem);
}

.calculator-grid > button{
  cursor: pointer;
  font-size: 2rem;
  border: 2px solid white;
  outline: none;
  background-color: rgb(255, 255, 255, 0.75);
}

.calculator-grid > button:hover,
.calculator-grid > button:focus{
  background-color: rgb(255, 255, 255, 0.9);
}

.span2{
  grid-column: span 2;;
}

.result{
  grid-column: 1/-1;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}

.previous_operand{
  color: rgb(179, 179, 179, 0.75);
  font-size: 1.5 rem;

}

.current_operand{
  color: white;
  font-size: 2.5rem;
}